<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale:1.0">
  <title>Projecto</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <header>
    <nav class="nav_top">
      <a href=".."><img src="../assets//book-closed-svgrepo-com.svg" class="nav_logo"></img></a>
      <div class="nav_menu">
        <a href="../templates/first_page.html" class="nav_page">Catálogo</a>
        <a href="../templates/second_page.html" class="nav_page">Libros Ilustrados</a>
        <a href="../templates/third_page.html" class="nav_page">Ediciones Especiales</a>
        <a href="../templates/contact_page.html" class="nav_page">Contacto</a>
      </div>
    </nav>
  </header>

  <main>

    <div class="search_container">
      <form action="/search/" method="get" class="search">
        <h3 class="form_list">Búsqueda</h3>
        <div class="form_list"><input autocomplete="off" type="search" name="q" class="search_bar" aria-label="¿Qué estás buscando?"></div>
        <div class="button_container"><button class="button shrink" type="submit" value="Buscar">Buscar</button></div>
      </form>
    </div>

    <div class="section_book">
      <a class="book_card" href="..">
        <img src="https://covers.openlibrary.org/b/id/2296303-M.jpg" alt="" class="book_img">
        <div class="book_overlay">
          <h4>El Arte de la Guerra</h4>
          <p>Sun Tzu</p>
        </div>
      </a>
      <a class="book_card" href="..">
        <img src="https://covers.openlibrary.org/b/id/1811576-M.jpg" alt="" class="book_img">
        <div class="book_overlay">
          <h4>Las Ilustraciones de LuEthel Davis Ade</h4>
          <p>William C. Ade</p>
        </div>
      </a>
      <a class="book_card" href="..">
        <img src="https://covers.openlibrary.org/b/id/0000030050-M.jpg" alt="" class="book_img">
        <div class="book_overlay">
          <h4>La Campana de Cristal</h4>
          <p>Sylvia Plath</p>
        </div>
      </a>
      <a class="book_card" href="..">
        <img src="https://covers.openlibrary.org/b/id/3420-M.jpg" alt="" class="book_img">
        <div class="book_overlay">
          <h4>Los Cinco Cerditos</h4>
          <p>Agatha Christie</p>
        </div>
      </a>
      <a class="book_card" href="..">
        <img src="https://covers.openlibrary.org/b/id/13215170-M.jpg" alt="" class="book_img">
        <div class="book_overlay">
          <h4>Arte de Oga Kazuo</h4>
          <p>Oga Kazuo</p>
        </div>
      </a>
    </div>

  </main>

  <footer>    
    <nav class="nav_bottom">
      <a href="..">
        <img class="nav_logo" src="../assets//book-closed-svgrepo-com.svg"></img>
      </a>

      <div class="nav_column">
        <h3>Enlaces</h3>
        <a href="../templates/first_page.html" class="nav_list">Catálogo</a>
        <a href="../templates/second_page.html" class="nav_list">Libros Ilustrados</a>
        <a href="../templates/third_page.html" class="nav_list">Ediciones Especiales</a>
        <a href="../templates/contact_page.html" class="nav_list">Contacto</a>
      </div>

      <div class="nav_column">
        <h3>Ayuda</h3>
        <a href="" class="nav_list">Nosotros</a>
        <a href="" class="nav_list">Sucursales</a>
        <a href="" class="nav_list">Métodos de envío</a>
        <a href="" class="nav_list">Medios de pago</a>
      </div>

      <div class="nav_column">
        <h3>Descarga la App</h3>
        <a href="" class="nav_list">App Store</a>
        <a href="" class="nav_list">Google Play</a>
        <a href="" class="nav_list" style="font-size: medium; text-transform: uppercase;">Preguntas Frecuentes</a>
        <a href="" class="nav_list" style="font-size: medium; text-transform: uppercase;">Términos y Condiciones</a>
      </div>
    </nav>
  </footer>
</body>
</html>