<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale:1.0">
  <title>Projecto</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <header>
    <nav class="nav_top">
      <a href=".."><img src="../assets//book-closed-svgrepo-com.svg" class="nav_logo"></img></a>
      <div class="nav_menu">
        <a href="../templates/first_page.html" class="nav_page">Catálogo</a>
        <a href="../templates/second_page.html" class="nav_page">Libros Ilustrados</a>
        <a href="../templates/third_page.html" class="nav_page">Ediciones Especiales</a>
        <a href="../templates/contact_page.html" class="nav_page">Contacto</a>
      </div>
    </nav>
  </header>

  <main>
    <div class="illustration_section">
      <img src="../assets/art-institute-of-chicago-EurDG6UyhIA-unsplash.jpg" class="illust_img">
      <a class="illust_card_left" href="../templates/first_page.html">
        <div class="illust_text">
          <h2>William C. Ade</h2>
          <p>Las Ilustraciones de LuEthel Davis Ade</p>
        </div>
      </a>
    </div>

    <div class="illustration_section">
      <img src="../assets/the-cleveland-museum-of-art-iH360kxXMc4-unsplash.jpg" class="illust_img">
      <a class="illust_card_right" href="../templates/first_page.html">
        <div class="illust_text">
          <h2>Oga Kazuo</h2>
          <p>Arte de Oga Kazuo</p>
        </div>
      </a>
    </div>
  </main>

  <footer>    
    <nav class="nav_bottom">
      <a href="..">
        <img class="nav_logo" src="../assets//book-closed-svgrepo-com.svg"></img>
      </a>

      <div class="nav_column">
        <h3>Enlaces</h3>
        <a href="../templates/first_page.html" class="nav_list">Catálogo</a>
        <a href="../templates/second_page.html" class="nav_list">Libros Ilustrados</a>
        <a href="../templates/third_page.html" class="nav_list">Ediciones Especiales</a>
        <a href="../templates/contact_page.html" class="nav_list">Contacto</a>
      </div>

      <div class="nav_column">
        <h3>Ayuda</h3>
        <a href="" class="nav_list">Nosotros</a>
        <a href="" class="nav_list">Sucursales</a>
        <a href="" class="nav_list">Métodos de envío</a>
        <a href="" class="nav_list">Medios de pago</a>
      </div>

      <div class="nav_column">
        <h3>Descarga la App</h3>
        <a href="" class="nav_list">App Store</a>
        <a href="" class="nav_list">Google Play</a>
        <a href="" class="nav_list" style="font-size: medium; text-transform: uppercase;">Preguntas Frecuentes</a>
        <a href="" class="nav_list" style="font-size: medium; text-transform: uppercase;">Términos y Condiciones</a>
      </div>
    </nav>
  </footer>
</body>
</html>