<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale:1.0">
  <title>Projecto</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <header>
    <nav class="nav_top">
      <a href=".."><img src="../assets//book-closed-svgrepo-com.svg" class="nav_logo"></img></a>

      <div class="nav_menu">
        <a href="../templates/first_page.html" class="nav_page">Catálogo</a>
        <a href="../templates/second_page.html" class="nav_page">Libros Ilustrados</a>
        <a href="../templates/third_page.html" class="nav_page">Edición Especial</a>
        <a href="../templates/contact_page.html" class="nav_page">Contacto</a>
      </div>
    </nav>
  </header>
    
  <main>
    <div class="collection_container">
      <a class="collection_card">
        <img src="../assets/trung-manh-cong-pr7-fsWzge4-unsplash.jpg" class="collect_img">
        <div class="collection_info">
          <h2>Van Gogh</h2>
          <p>Biografía ilustrada del pintor holandés Vincent van Gogh, con detalles de su vida, su arte y su legado.</p>
          <p>Steven Naifeh & Gregory White Smith</p>
        </div>
      </a>
    </div>

    <div class="collection_container">
      <a class="collection_card">
        <img src="../assets/trung-manh-cong-3Ujvv1ql-8Y-unsplash.jpg" class="collect_img">
        <div class="collection_info">
          <h2>Lo que el viento se llevó</h2>
          <p>Novela histórica y romántica ambientada durante la Guerra Civil de EE.UU., centrada en la vida de Scarlett O’Hara.</p>
          <p>Margaret Mitchell</p>
        </div>
      </a>
    </div>

  </main>

  <footer>    
    <nav class="nav_bottom">
      <a href="..">
        <img class="nav_logo" src="../assets//book-closed-svgrepo-com.svg"></img>
      </a>

      <div class="nav_column">
        <h3>Enlaces</h3>
        <a href="../templates/first_page.html" class="nav_list">Catálogo</a>
        <a href="../templates/second_page.html" class="nav_list">Libros Ilustrados</a>
        <a href="../templates/third_page.html" class="nav_list">Ediciones Especiales</a>
        <a href="../templates/contact_page.html" class="nav_list">Contacto</a>
      </div>

      <div class="nav_column">
        <h3>Ayuda</h3>
        <a href="" class="nav_list">Nosotros</a>
        <a href="" class="nav_list">Sucursales</a>
        <a href="" class="nav_list">Métodos de envío</a>
        <a href="" class="nav_list">Medios de pago</a>
      </div>

      <div class="nav_column">
        <h3>Descarga la App</h3>
        <a href="" class="nav_list">App Store</a>
        <a href="" class="nav_list">Google Play</a>
        <a href="" class="nav_list" style="font-size: medium; text-transform: uppercase;">Preguntas Frecuentes</a>
        <a href="" class="nav_list" style="font-size: medium; text-transform: uppercase;">Términos y Condiciones</a>
      </div>
    </nav>
  </footer>
</body>
</html>